* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  background: rgb(230, 230, 230);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}
ul li {
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
}
input {
  height: 1.7rem;
  padding-left: 10px;
}
button {
  width: 60px;
  height: 1.7rem;
  background-color: greenyellow;
  border: 1px solid black;
  border-radius: 5px;
}
